{% block submit_widget %}
    <div class="mt-2">
        {% include 'components/btn/create.html.twig' with {'label': 'Zapisz'} %}
    </div>
{% endblock %}

{% block text_widget %}
    <input name="{{ form.vars.full_name }}" type="text" class="mb-3 w-50 form-control" required="{{ form.vars.required }}" value="{{ form.vars.value }}"></input>
{% endblock %}

{% block choice_widget %}
    <select name="{{ form.vars.full_name }}" class="mb-3 w-50 custom-select">
        {% for choice in form.vars.choices %}
            <option value="{{ choice.value }}" {{ choice.value == form.vars.value ? "selected" : "" }}>{{ choice.label }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block form_label %}
    <label for="{{ form.vars.full_name }}">{{ form.vars.label~":" }}</label><br>
{% endblock form_label %}

{% block form_errors %}
    {% for error in errors %}
        <span class="d-block text-danger">{{ error.message }}</span>
    {% endfor %}
{% endblock %}
