{% extends "base.html.twig" %}

{% set navSecondLevel = {name: "Książki", url: path('books.index')} %}

{% block content %}

    {% include 'components/btn/create.html.twig' with {url: path('books.create'), label: 'Dodaj książkę'} %}

    <div class="mt-4">
        <h2 class="mb-3">Lista książek:</h2>

        <div class="row">
            <div id="searchForm" class="mb-4 col-md-4 border-right">
                <div class="form-group form-inline">
                    <label for="id">Ilość na stronie:</label>&nbsp;
                    <select name="per_page" class="form-control">
                        {% for count in [5, 10, 20, 50, 100] %}
                            <option value="{{ count }}">{{ count }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="id">ID:</label>&nbsp;
                    <input name="id" type="number" class="form-control"></input>
                </div>

                <div class="form-group form-inline">
                    <label for="title">Tytuł: </label>&nbsp;
                    <input name="title" type="text" class="form-control"></input>
                </div>

                <div class="form-group form-inline">
                    <label for="author">Autor: </label>&nbsp;
                    <select name="author" class="form-control">
                        <option value="">Wszyscy</option>
                        {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.getFullName }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group form-inline">
                    <label for="author">Sortowanie: </label>&nbsp;
                    <select name="sort" class="form-control">
                        <option value="latest">Data dodania: najnowsze</option>
                        <option value="oldest">Data dodania: najstarsze</option>
                        <option value="published_latest">Rok wydania: najnowsze</option>
                        <option value="published_oldest">Rok wydania: najstarsze</option>
                    </select>
                </div>

                <button id="searchBtn" class="btn btn-success">Szukaj</button>
            </div>
            <div class="col-md-8 pl-2">
                <div id="books">        
                </div>
        </div>

    </div>

{% endblock %}

{% block footerJS %}

    {{ parent() }}
    <script src="/js/AjaxPagination.js"></script>
    <script>
        Pagination.callbackFunction = search;
        PaginationEffects.loadingElem = $('#books');

        let form = $('#searchForm');
        let perPage = form.find('[name="per_page"]'),
            id = form.find('[name="id"]'),
            title = form.find('[name="title"]'),
            author = form.find('[name="author"]');

        $('#searchBtn').click(() => {refresh()});
        form.find('select').on('change', () => {refresh()});
        form.on('keypress', function(e){
            if( e.which == 13 )
                refresh()
        });


        function refresh(){
            Pagination.currentPage = 1;

            search();
        }
        
        search();

        function search(page = 1){
            PaginationEffects.loadOpacityEffect(true);

            $.ajax({
                url: "{{ path('books.search') }}",
                type: "POST",
                dataType: "HTML",
                data: {
                    id: id.val(),
                    title: `%${title.val()}%`,
                    author: author.val(),
                    sort: $('[name="sort"]').val(),
                    page: Pagination.currentPage,
                    per_page: perPage.val()
                }
            })
            .done(function(response){
                PaginationEffects.showDataWithEffect( response )
            })
        }
    </script>

{% endblock %}