{% extends "base.html.twig" %}

{% set navSecondLevel = {name: "Książki", url: path('books.index')} %}
{% set navThirdLevel = {name: "Podgląd"} %}

{% block content %}

    <div class="bookPreview">
        <h2>{{ book.title }}</h2>

        <div class="my-2">
            {% if book.hasImage() %}
                <img src="{{ asset(book.getCoverFilePath()) }}"></img>
            {% else %}
                <i class="fas fa-camera"></i> Nie dodano zdjęcia okładki.
            {% endif %}
        </div>
        
        Autor: <a href="{{ path('authors.show', {id: book.author.id}) }}">{{ book.author.fullName }}</a><br>
        Rok wydania: {{ book.year}}<br>
        ISBN: {{ book.isbn }}<br>

        <div class="mt-4 form-group form-inline">
            {% include 'components/btn/edit.html.twig' with {url: path('books.update', {id: book.id})} %}
            &nbsp;
            {% if book.hasImage() %}
                {% include 'components/btn/edit.html.twig' with {url: path('books.delete-cover', {id: book.id}), label: 'Usuń zdjęcie'} %}
                &nbsp;
            {% endif %}
            {% include 'components/btn/delete.html.twig' with {url: path('books.delete', {id: book.id})} %}
        </div>
    </div>
{% endblock %}