body{
    background-color: #5C6D76;
    margin: 0 auto;
}
#header{
    padding: 1em 0.5em;
    color: whitesmoke;
    background-color: #1488A2;
}
#header a{
    text-decoration: none;
    color: inherit;
}

.breadcrumb{
    background-color:lightblue;
}

#content{
    padding: 1em 1em;
    background-color: #EBF0F3;
}

#homeMenu i{
    padding: 1em 0.5em;
    justify-content: center;
    color: blue;
}

@media (max-width: 500px){

    .bookPreview img{
    
        width: 100%;
    }

    .bookStripe img{
        height: 50px;
        width: 100%;
    }
}

@media (min-width: 500px){

    .bookPreview img{
    
        width: 30%;
    }

    .bookStripe img{
        height: 150px;
        width: 100%;
    }
}
