{% extends "base.html.twig" %}

{% set navSecondLevel = {name: "Autorzy", url: path('authors.index')} %}
{% set navThirdLevel = {name: "Tworzenie"} %}

{% form_theme form 'form/basic.html.twig' %}

{% block content %}

    {{ form(form) }}

{% endblock %}