{% extends "base.html.twig" %}

{% set navSecondLevel = {name: "Autorzy", url: path('authors.index')} %}

{% block content %}
    
    {% include 'components/btn/create.html.twig' with {url: path('authors.create'), label: 'Dodaj autora'} %}

    <div class="mt-4">
        <h2 class="mb-3">Lista autorów:</h2>
        {% for author in authors %}
            <a href="{{ path('authors.show', {id: author.id}) }}">{{ author.getFullName }}</a><br>
            <hr>
        {% else %}
            Nie dodano jeszcze żadnego autora.
        {% endfor %}
    </div>
{% endblock %}