{% extends "base.html.twig" %}

{% set navSecondLevel = {name: "Autorzy", url: path('authors.index')} %}
{% set navThirdLevel = {name: "Podgląd"} %}

{% block content %}
    <h2>{{ author.getFullName }}</h2>

    <div class="d-flex mb-4">
        {% include 'components/btn/edit.html.twig' with {'url': path('authors.update', {id: author.id})}  %}
        &nbsp;
        {% include 'components/btn/delete.html.twig' with {'url': path('authors.delete', {id: author.id})}  %}
    </div>

    <h3 class="mb-3">Twórczość:</h3>
    {% include 'components/btn/create.html.twig' with {'url': path('books.create', {'author': author.id}), 'label': 'Dodaj książkę'} %}
    <div class="mt-3">
        {% for book in author.getBooks %}
            <a href="{{ path('books.show', {id: book.id}) }}">{{ book.title ~" ("~book.year~")" }}</a><br>
        {% else %}
            Brak książek przypisanych do autora.
        {% endfor %}
    </div>
{% endblock %}