{% for book in books %}
    {% include 'books/partial/stripe.html.twig' with {book: book} %}
{% else %}
    Brak wyników.
{% endfor %}

{% include 'partial/ajaxPagination.html.twig' with {paginator: books} %}