<div class="row bookStripe">
    <div class="col-3">
        <img src="{{ asset(book.getCoverFilePath()) }}"></img>
    </div>
    <div class="col-9 border-left">
        <a href="{{ path('books.show', {id: book.id}) }}">{{ book.title~" ("~book.year~" r.)" }}</a><br>
        {{ book.author.getFullName }}
    </div>
</div>
<hr>