<!DOCTYPE html>
<html>
    <head>
        <title>Biblioteka</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">

        {% block headCSS %}{% endblock %}
    </head>
    <body>
        <div id="header" class="container">
            <div class="row">
                <div class="col">
                    <h1><a href="{{ path('home.index') }}">Biblioteka</a></h1>
                </div>
            </div>
        </div>
        <div id="content" class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    {% if navSecondLevel is defined %}

                        <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Administracja</a></li>

                        {% if navThirdLevel is defined %}
                            <li class="breadcrumb-item"><a href="{{ navSecondLevel.url }}">{{ navSecondLevel.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ navThirdLevel.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item active">{{ navSecondLevel.name }}</li>
                        {% endif %}

                    {% else %}
                        <li class="breadcrumb-item active">Administracja</li>
                    {% endif %}
                </ol>
            </nav>
            {% block content %}{% endblock %}
        </div>
        
        <div class="container">
            {% block footer %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        {% block footerJS %}{% endblock %}
    </body>
</html>