{% extends "base.html.twig" %}

{% block content %}
    <div id="homeMenu" class="row text-center">
        <div class="col">
            <h3><a href="{{ path('books.index') }}"><i class="fas fa-book fa-lg pb-0"></i><br>Przeglądaj książki</a></h3>
        </div>
        <div class="col">
            <h3><a href="{{ path('authors.index') }}"><i class="fas fa-users fa-lg pb-0"></i><br>Autorzy</a></h3>
        </div>
    </div>
{% endblock %}