{% set label = label ?? 'Utwórz' %}

{% if url is defined %}
    <a class="btn btn-sm btn-success" href="{{ url }}">{{ label }}</a>
{% else %}
    <button class="btn btn-sm btn-success" type="submit">{{ label }}</button>
{% endif %}