{% set label = label ?? 'Edytuj' %}

{% if url is defined %}
    <a class="btn btn-sm btn-primary" href="{{ url }}">{{ label }}</a>
{% else %}
    <button class="btn btn-sm btn-primary" type="submit">{{ label }}</button>
{% endif %}