<div class="row text-right">
    <div class="col">
        {% if paginator.currentPage > 1 %}
            <i id="pageDecrease" class="mr-1 fas fa-lg fa-chevron-left text-success cursorPointer"></i>
        {% endif %}

        <input id="currentPage" type="number" min="1" name="mypage" style="max-width: 60px" 
            onkeydown="javascript: return event.keyCode == 69 ? false : true"
            value="{{ paginator.currentPage <= paginator.lastPage ? paginator.currentPage : 1 }}" >
        
        <span id="maxPage" data-page="{{ paginator.lastPage }}">
            z {{ paginator.lastPage }}</span>

        {% if paginator.currentPage < paginator.lastPage %}
            <i id="pageIncrease" class="ml-1 fas fa-lg fa-chevron-right text-success cursorPointer"></i>
        {% endif %}
    </div>
</div>